html
    head
        title= title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
        script(type="text/javascript" href="/javascripts/registration.js")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css", integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M", crossorigin="anonymous")


    body
    .main.container
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 YENİ ŞİFRE

                // change password
                form(method='POST' class='form' action='/change')
                    div.form-group
                        label(for='password') Password:
                        input#password.form-control(type='password' name='password')
                    div.form-group
                        label(for='cpassword') Confirm Password:
                        input#cpassword.form-control(type='password' name='cpassword')
                        input#hidden.form-control(type='hidden' name='url' value=url)
                    button.btn.btn-primary(type='submit' name='register' id='register') Sign up